<div class="answers">
  <div *ngFor="let answers of answersService.answers()" class="answers__answer">
    <h2>{{ answers.title }}</h2>
    <div *ngFor="let data of answers.answers">
      <h3>{{ data.label }}</h3>

      @if (data.type === 'textarea') {
      <p>{{ data.answer || "-" }}</p>
      } @if (data.type === 'checkbox') {
      <ul>
        <ng-container *ngFor="let answer of data.answer">
          <li *ngIf="answer">
            {{ answer }}
          </li>
        </ng-container>
      </ul>
      }
    </div>
  </div>
</div>
